#header-bar {
  width: 100%;
  display: block;
  background-color: red;
  padding: 0px 100px 0px 100px;
  height: 50px;
}

#side-bar {
  background-color: blue;
  height: 100%;
  width: 200px;
}

#contact-panel {
  background-color: green;
  height: 100%;
  width: 800px;
}

#search-area { 
  background-color: orange;
}

.contact-bar {
  height: 50px;
}

.title {
  font-family: Verdana;
}

#contact{ 

}

.contact-list {
  overflow: auto;
  max-height: 450px;
}

.contact-header {

}

.start-call {
  background-color: green;
  border-color: green;
  color: #fff;
}

.end-call {
  background-color: red;
  border-color: red;
  color: #fff;
}
.key-pad {
  float: right;
  color: #fff;
}

.recent {
  padding-top: 10px;
}

#send {
  height: 100%;
  padding: 9px 0px 9px 0px;
  float: right;
}

.client-number {
  text-align: center;
  font-weight: bold;
}

#client-name {
  display: block;
  width: 70%;
}

#call-subject {
  display: block;
  width: 70%;
}

#call-notes {
  display: block;
}

.control-label {
  display: block;
}

#save {
  float: right;
}

#discard {
  float: right;
  margin-right: 10px;
  margin-bottom: 70px;
}

img {
  height: 25px;
}



